*
        {
            margin:0;
        }
        body
        {
			margin: 0;
			padding: 0;
			font-family: "serif";
			background: rgba(0, 0, 0, 0.171) url("bg6.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-blend-mode: darken;
			color:rgb(0, 0, 0);
        }

		.container .header
        {
            font-size: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        .container .header ul li button
        {
            margin-left: -20px;
            width:500px;
            background-color: rgba(190, 155, 78, 0.897);
            padding: 15px 16px;
            color: #ffffff;
            border-radius:20px;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            transition: width 2000ms, background-color 2s;
        }

        .container .header ul li button:hover
        {
            width:520px;
            background-color: rgba(190, 155, 78, 0.589);
            color: #000000;
            transition-duration: 1s;
            transition-timing-function: cubic-bezier(0.4, 0.82, 0.165, 1);
        }

        .container
        {
				width: 100%;
				height: 100%;
		}

        #enter
        {
            color: rgb(0, 0, 0);
            font-size:35px;
            text-align: center;
            padding-top: 50px;

        }
        #box
        {
            height: 40px;
            width:400px;
            padding-top: 5px;
            margin-bottom:30px;
            border-radius: 10px;
            text-align: center;
            font-size:25px;
        }
        #submit
        {
            font-family: 'Courier New', Courier, monospace;
            padding: 5px 5px;
            font-weight: bold;
            border:2px solid lightgrey ;
            display: inline-block;
            width: 330px;
            height:50px;
            font-size: 35px;
            margin: auto;
            box-shadow: black;
            border-radius:80px;
            /* width:130px;
            height:50px;
            font-size:25px;
            color:white;
            background-color:rgba(255, 87, 81, 0.829);
            border-radius: 20px;*/
            transition: background-color 700ms,box-shadow 700ms;
            text-align: center;
        }
        #submit:hover
        {
            color:rgb(230, 227, 227);
            background-color: chocolate;
            box-shadow: 5px 5px lightgrey;
            transition-duration: 500ms;
        }
        #combo
        {
            text-align: center;
            color: rgb(0, 0, 0);
            font-size:35px;
        }