<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='orderfood.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvalidDetails</title>
</head>
<body>
<div align="center">
<font color="black" size="40px">
    <h2>     Invalid Details!</h2>
    <br><br>
    <h4>please enter valid phone number<br>
    or pin code and try again.<br><br></h4>
    <div class="but">
    <a href="orderfood"><button id = 'submit' type = 'submit' name = 'opt' value = 'submit'>Back to form</button></a>
    </div>

</font>
    </div>
</body>
</html>