<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='orderfood.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid</title>
</head>
<body>
<div align="center">
<font color="Black" size="40px">
    <h2>     Invalid Username/Password</h2>
    <br><br>
    <h4>Sign in again.<br><br><br></h4>
    <div class="but">
    <a href="signin"><button id = 'submit' type = 'submit' name = 'opt' value = 'submit'>Sign in</button></a>
    </div>

</font>
    </div>
</body>
</html>