<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='main_page.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="container">

</div>
<div class = 'container'>
            <div class = 'header'>
                <ul type = 'none'>
                    <br><br><br><br>
                    <a href="/"><li><button id = 'head' type = 'submit' >Help For You</button></li></a>
                </ul>
            </div>

            <div class = 'but'>
            <br><br>
               <a href="orderfood"><button id = 'submit' type = 'submit' name = 'opt' value = 'Orderfood'>Patient</button></a>
                <a href="volunteer"><button id = 'submit' type = 'submit' name = 'opt' value = 'Volunteer'>Hospital</button></a>
            </div>

</div>
<div class="image"></div>
</body>
</html>