<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='orderconfirmation.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderConfirmation</title>
</head>
<body>
<div align="center">
<font color="black" size="40px">
    <h2>     Thank you for registering!</h2>
    <br><br>
    <h4>Your request has been made.<br> We are looking for Hospitals.<br>
    You will get a confirmation call <br>from our representatives soon.</h4>

</font>
    </div>
<div class="image"></div>
</body>
</html>