<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='orderfood.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterConfirmation</title>
</head>
<body>
<div align="center">
<font color="black" size="40px">
    <h2>     Thank you for registering!</h2>
    <br><br>
    <h4>You have registered for voluntering.<br>
    You will get a confirmation call. <br>Sign in to get started.<br><br></h4>
    <div class="but">
    <a href="signin"><button id = 'submit' type = 'submit' name = 'opt' value = 'submit'>Sign in</button></a>
    </div>

</font>
    </div>
</body>
</html>