<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='orderfood.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request</title>
</head>
<body>
<div align="center">
<font color="Black" size="40px">
    <h2>     Your request has been made!!</h2>
    <br><br>
    <h4>It will be shortly reflected in your account.<br> Please Sign in again.<br><br><br></h4>
    <div class="but">
        <a href="/"><button id = 'submit' type = 'submit' name = 'opt' value = 'submit'>Back to home</button></a>
    </div>

</font>
    </div>
</body>
</html>